DATABASE_URL=postgres://ps_aezarx:password@localhost:5432/aezarx_db(db name )
JWT_SECRET=

APP_URL=http://localhost:5173

PORT=4000
UPLOAD_DIR=./uploads
SMTP_HOST=smtp.gmail.com
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=

RUST_LOG=aezarx_backend=debug,tower_http=info

#psql $DATABASE_URL

#export DATABASE_URL=postgres://ps_aezarx:1234@localhost:5432/aezarx_db

#echo $DATABASE_URL